--swiftversion 5.8
--indent 4
--linebreaks lf

--wrapternary "before-operators"
--maxwidth 100
--wrapcollections "before-first"
--wraparguments "before-first"

--indentcase "true"
--self "remove"
--importgrouping "alpha"
--stripunusedargs "always"
--elseposition "same-line"
--guardelse "same-line"

